.login {
  font-size: 0px;
  text-align: center;
  font-family: Georgia;
  background: #c7e6ff;
	height: 320px;
	width: 500px;
	position: absolute;
	top: 25%;
	left: 50%;
	margin-left: -250px;
	border-radius: 15px;
  box-shadow:
   inset rgba(0,0,0,.5) -3px -3px 8px,
   inset rgba(255,255,255,.9) 3px 3px 8px,
   rgba(0,0,0,.8) 3px 3px 8px -3px;
}

.login .login-form {
  text-align: left;
  padding: 10px 90px;
}

.login-form input[type='text'] {
  width: 205px;
}

.login-form p {
  font-size: 26px;
  display: inline-block;
  margin: 15px 0px;
  color: #000000;
}

.login-form .radio-btn p:nth-of-type(1) {
  margin-left: 20px;
  margin-right: 80px;
}

.login-form p span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
}

.login-form div.radio-btn p:hover {
  cursor: pointer;
}

.login-form div.radio-btn .selected span {
  background: gray;
}

.login-form button {
  font-family: Georgia;
  height: 40px;
  width: 200px;
  font-size: 24px;
  margin-top: 20px;
  margin-left: 65px;
  padding: 5px 0px;
  border-radius: 10px;
  background: #42a8f8;
  outline: none;
}

.login-form button:hover {
  cursor: pointer;
  background: #2898f1;
}

.login h2 {
  font-size: 40px;
  font-weight: normal;
  margin: 20px 0px 10px;
}

.login-form input[type='text'] {
  border: 1px solid #898989; 
  border-radius: 5px;
  padding: 0px 10px;
  margin: 0px 15px;
  box-sizing: border-box;
  background: #ffffff !important;
  outline: none;
  height: 32px;
  color: #252525;
  font-size: 20px;
  font-family: Georgia;
  text-align: center;
}

.login-form input[type='text']:focus {
  border: 2px solid #a2a2a2;
}