* { 
  padding: 0;
  margin: 0;
}
canvas {
  background: #eee;
  background-image: url("../images/game-bg2.jpg");
  background-size: cover;
  display: block;
  margin: 0 auto;
}

.greeting,
.end-msg {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

.greeting p,
.end-msg p {
  font-size: 70px;
  color: #7d0000;
  font-weight: bold;
  margin-top: 20%;
}

.modal-dialogue,
.task-window {
  font-size: 0px;
  text-align: center;
  font-family: Georgia;
	background: #d1f1ff;
	background-image: url("../../images/bg.png");
	height: 320px;
	width: 500px;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -250px;
	border-radius: 15px;
  box-shadow:
   inset rgba(0,0,0,.5) -3px -3px 8px,
   inset rgba(255,255,255,.9) 3px 3px 8px,
   rgba(0,0,0,.8) 3px 3px 8px -3px;
}

.modal-dialogue p,
.task-window p {
  font-size: 40px;
  margin: 20px 0px 10px;
}

.spells .spell {
  display: inline-block;
  width: 150px;
  margin: 10px 5px;
}
.spells .spell img {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  background: #e8f8ff;
  border: 1px solid #d3d3d3;
  border-radius: 50%;
}

.spells .spell figcaption {
  font-size: 25px;
}

.spells .spell img:hover,
.spells .spell figcaption:hover {
  cursor: pointer;
}

.spells .spell img:hover {
  border: 2px solid #b2b2b2;
}

.spells .spell figcaption:hover {
  text-decoration: underline;
  color: #006d6d;
}

.hidden {
  display: none;
}

.task div {
  display: inline-block;
  margin: 20px 10px;
  font-size: 26px;
  height: 45px;
  width: 45px;
  border: 1px solid #0865b0;
  border-radius: 5px;
  background: #1ab8ff;
  line-height: 160%;
}

.task-window input {
  border: 1px solid #898989; 
  border-radius: 5px;
  padding: 0px 10px;
  margin: 0px 15px;
  box-sizing: border-box;
  background: #ffffff !important;
  outline: none;
  height: 32px;
  width: 65px;
  color: #252525;
  font-size: 20px;
  font-family: Georgia;
  text-align: center;
}

.task-window input:focus {
  border: 2px solid #a2a2a2;
}

.task-window div {
  margin-bottom: 20px;
}

.task-window button {
  font-family: Georgia;
  height: 32px;
  width: 120px;
  font-size: 18px;
  padding: 5px 0px;
  border-radius: 5px;
  background: #00c1af;
  outline: none;
}

.task-window button:hover {
  cursor: pointer;
  background: #01ac9c;
}

.task-window .note {
  font-size: 25px;
  color: #380241;
}

.task-window .note span {
  color: #009688;
  font-style: italic;
  text-decoration: underline;
}